<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>labuwu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <style>
        .centrar{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .navbar1{
            margin-top: 5px;
            width: 100%;
        }
        .navbar2{
            margin-top: 5px;
            width: 100%;
        }
        .buscar{
            background: darkgrey;
        }
        .colaux{
            width: 14.285%;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="row centrar navbar1" style="width: 100%">
    <div class="col-2 row">
        <img src="../static/logo.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-5 row">
        <input type="text" class="rounded-pill buscar" placeholder="Encuentra tus vuelos preferidos">
    </div>
    <div class="col-3 row">
        <div class="col-6 text-center">Explorar</div>
        <div class="col-6 text-center">Mis vuelos</div>
    </div>
    <div class="col-2 row border-start border-2 text-center border-dark">
        <span>Inicia sesión</span>
    </div>
</div>
<div class="row centrar navbar2">
    <div class="col-6 row">
        <div class="colaux">Vuelos</div>
        <div class="colaux">Paquetes</div>
        <div class="colaux">Hoteles</div>
        <div class="colaux">Autos</div>
        <div class="colaux">Seguros</div>
        <div class="colaux">Upgrade</div>
        <div class="colaux">Centro de ayuda</div>
    </div>
    <div class="col-6 row"></div>
</div>
<div style="width: 100%;display: flex;height: 899px;justify-content: start;align-items: center;background-image: url('../static/fondo.jpg');background-size: cover">
    <h1 style="color: white;width: 100%;">Iquitos <br> <span style="font-size: 40%;margin-top: 10px">Descubra maravillas ocultas y destinos inspiradores en Iquitos</span>
        <br><button type="button" class="btn btn-light" style="padding: 10px;margin-top: 20px">Comprar</button></h1>
</div>
</body>
</html>