<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>labuwu</title>
</head>
<body style="width: 100%;display: flex;justify-content: start;align-items: center;background-image: url('../static/fondo.jpg');background-size: cover">
<h1 style="color: white;width: 100%;margin-top: 17%">Iquitos <br> <span style="font-size: 40%;margin-top: 10px">Descubra maravillas ocultas y destinos inspiradores en Iquitos</span>
    <br><button type="button" class="btn btn-light" style="padding: 10px;margin-top: 20px">Comprar</button></h1>

</body>
</html>